<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!--要搬移的log檔 存在於哪個資料夾-->
		<add key="SourceFilePath" value="C:\Logs\"/>
		<!--要搬移的log檔 存在於哪個資料夾-->
		<add key="TargetFilePath" value="D:\Logs\"/>
	</appSettings>
</configuration>